body{
    margin: 0;
    background-color: #EFE2BA;
}

.div-color1{
    background-color: #EFE2BA;
}

.colors{
    height: fit-content;
    color: #F13C20;
    color: #4056A1;
    color: #C5CBE3;
}

.headings{
    color: #F13C20;
}

#info{
    color: rgb(71, 71, 252);
    position: absolute;
    top: 7px;
    left: 20px;
    width: auto;
    text-align: center;
    z-index: 100;
    display: block;
}

#controls{
    position: absolute;
    top: 110px;
    left: 20px;
    width: auto;
    text-align: center;
    z-index: 100;
    display: block;
}