@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular-webfont.woff');
}

.colors{
    color: #F13C20;
    color: #4056A1;
    color: #C5CBE3;
}

.headings{
    font-family: 'Poppins';
    color: #F13C20;
}

.nav-color{
    background-color: #ffffff;
}

.background{
    background-color: #003e29 !important;
}
.text-color{
    font-family: 'Poppins';
    color: #65867b !important;
}