@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular-webfont.woff');
}

.colors {
    color: #F13C20;
    color: #4056A1;
    color: #C5CBE3;
    color: #003e29;
    color: rgb(134, 159, 180);
}

.heading-color {
    font-family: 'Poppins';
    color: #F13C20;
}

.nav-color {
    background-color: #ffffff;
}

.background {
    background-color: #003e29 !important;
}

.text-color {
    font-family: 'Poppins';
    color: #86cab4 !important;
}

.card {
    display: block !important;
    text-align: center;
    padding-top: 4%;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 100%;
    height: 300px;
    width: 500px;
    max-width: 350px;
    min-height: 400px;
}

a{
    text-decoration: none !important;
}

hr{
    height: 2px !important;
    color: #F13C20 !important;
    background-color: #F13C20 !important;
    opacity: 1 !important;
}

.card:hover{
    background-color: rgb(85, 130, 167) !important;
    color: #dcf06f !important;
}

