body{
    background-color: #EFE2BA;
}

.div-color1{
    background-color: #EFE2BA;
}

.colors{
    height: fit-content;
    color: #F13C20;
    color: #4056A1;
    color: #C5CBE3;
}

.headings{
    color: #F13C20;
}
